/* GENERAL STYLES */
:root{
  /* PRIMARY */
  --color-success: hsl(163, 72%, 41%);
  --color-danger: hsl(356, 69%, 56%);
  /* SOCIAL COLORS */
  --color-fb: hsl(208, 92%, 53%);
  --color-tw: rgb(28, 160, 242);
  --color-in:hsl(329, 70%, 58%);
  --color-in-gr: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%) );
  --color-yt: hsl(348, 97%, 39%);
  
  /* ACTIVE THEME */
  --theme-toggle: linear-gradient(to right,hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --theme-bg: hsl(0, 0%, 100%);
  --theme-top-bg-pattern: hsl(225, 100%, 98%);
  --theme-card-bg: hsl(227, 47%, 96%);
  --theme-text:hsl(230, 17%, 14%);
  --theme-text-secondary: hsl(228, 12%, 44%);

  /* TYPOGRAPHY */
  --text-font-size: 14px;
  --text-font-family: 'Inter', sans-serif;
  --text-font-weight-regular: 400;
  --text-font-weight-bold: 700;
  
  /* SHAPING */
  --shape-border-radius: 10px;
}
* {
  box-sizing: border-box;
}
/* SOCIAL */
.social-heading-fb{
  background-color: var(--color-fb);
}
.social-heading-tw{
  background-color: var(--color-tw);
}
.social-heading-in{
  background-color:var(--color-in);
  background: var(--color-in-gr);
}
.social-heading-yt{
  background-color: var(--color-yt);
}

body {
  margin: 0;
  padding: 0;
  color: var(--theme-text);
  background-color:var(--theme-bg);
  transition:  color 0.5s ease-out;

  font-family: var(--text-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

