.header {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.maincontainer{
    padding: 40px 24px;
    display: flex;
    min-height: 100vh;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}
.generalOverview{
    margin-bottom: 12px;
}
@media only screen and (min-width: 600px ){
    .header{
        flex-flow: row;
    }
    .generalOverview, .dailyOverview{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}